<html>
    <head>
        <title>Vue Instance Lifecycle</title>
    </head>
    <body>
        <div id="app">
            {{ message }}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
        <script>
            new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue.js!'
                },
                beforeCreate: function () {
                    console.log("beforeCreate");
                },
                created: function () {
                    console.log("created");
                },
                mounted: function () {
                    console.log("mounted");
                },
                updated: function () {
                    console.log("updated");
                }
            });
        </script>
    </body>
</html>