﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Components Registration Quiz</title>
  </head>
  <body>
    <div id="app">
      <header>
        <h3>{{ message }}</h3>
      </header>
      <!-- 실습 #3 - 전역 컴포넌트 등록을 위한 `todo-footer` 태그 추가 -->
      <todo-footer></todo-footer>

      <!-- 실습 #4 - 지역 컴포넌트 등록을 위한 `todo-list` 태그 추가 -->
      <todo-list></todo-list>
    </div>

    <script src="js/vendor/vue.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
