<html>
  <head>
    <title>Vue Template - Directives</title>
  </head>
  <body>
    <div id="app">
      <a v-if="flag">두잇 Vue.js</a>
      <ul>
        <li v-for="system in systems">
          {{ system }}
        </li>
      </ul>
      <p v-show="flag">
         두잇 Vue.js
      </p>
      <h5 v-bind:id="uid">뷰 입문서</h5>
      <button v-on:click="popupAlert">경고 창 버튼</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          flag: true,
          systems: ['android', 'ios', 'window'],
          uid: 10
        },
        methods: {
          popupAlert: function() {
            return alert('경고 창 표시');
          }
        }
      });
    </script>
  </body>
</html>
