<html>
<head>
    <title>Vue Component Registration</title>
</head>
<body>
    <div id="app">
        <my-component1></my-component1>
        <my-component2></my-component2>
    </div>

     <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script>
        // 첫 번째 컴포넌트 내용
        var cmp1 = {
            template: '<div>첫 번째 지역 컴포넌트 : {{ cmp1Data }}</div>',
            data: function () {
                return {
                    cmp1Data: 100
                }
            }
        };
        // 두 번째 컴포넌트 내용
        var cmp2 = {
            template: '<div>두 번째 지역 컴포넌트 : {{ cmp2Data }}</div>',
            data: function () {
                return {
                    cmp2Data: cmp1.data.cmp1Data
                }
            }
        };

        new Vue({
            el: '#app',
            // 지역 컴포넌트 등록
            components: {
                'my-component1' : cmp1,
                'my-component2' : cmp2
            }
        });
    </script>
</body>
</html>
