<html>
<head>
    <title>Vue Component Registration</title>
</head>
<body>
    <div id="app">
        <child-component v-bind:propsdata="message"></child-component>
    </div>

     <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script>

        // 전역 컴포넌트 등록
        Vue.component('child-component', {
            props: ['propsdata'],
            template: '<p>{{ propsdata }}</p>',
        });

        new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue! Passed from Parent Component'   
            }
        });
    </script>
</body>
</html>
