<!-- computed 속성과 methods 속성의 차이점 -->
<html>
  <head>
    <title>Vue Template - Directives</title>
  </head>
  <body>
    <div id="app">
      <p>
        {{ message }}
      </p>
      <button v-on:click="reverseMsg">문자열 역순</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script>
    new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue.js!'
      },
      methods: {
        reverseMsg: function() {
          this.message = this.message.split('').reverse().join('');
          return this.message;
        }
      }
    });
    </script>
  </body>
</html>
